.destaque {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--padding-5xl);
    background-color: var(--color-secondary-light);

    @media (max-width: 768px) {
        padding: var(--padding-2xl) var(--padding-3xl);
    }
}

.destaque-titulo {
    color: var(--color-primary-light);
}

.destaque-titulo>span {
    color: var(--color-tertiary-dark);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
       flex-direction: column;
       text-align: center;
    }
}