.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);

    width: 100%;
    padding: var(--padding-2xl) 0;

    background-color: var(--color-neutral-light);
}

.parceiros-titulo {
    margin-bottom: 1.25rem;
    color: var(--color-primary-light);
}

.lista-parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-l) var(--gap-3xl);
}

.lista-parceiros>div {
    flex: 1 0 100px;
    width: 100%;
}

.lista-parceiros>div>img {
    display: block;

    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: var(--padding-m);
    border-radius: 1rem;

    transition: transform 0.3s ease;
}

.lista-parceiros>div:nth-child(odd):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--color-primary-box-shadow);
}

.lista-parceiros>div:nth-child(even):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--color-secondary-box-shadow);
}