.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-3xl);

    width: 100%;
    padding: var(--padding-5xl) 0;
}

.servicos-titulo {
    color: var(--color-primary-light);
}

.servicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-m);
}

.servicos-lista>li>.link {
    position: relative;
    padding: var(--padding-m) var(--padding-l);

    font-family: var(--font-sigmar);
    font-size: var(--font-size-m);
    color: var(--color-primary-light);

    background-color: var(--color-secondary-light);
    border-radius: 1rem;
    text-decoration: none;
}

.link::before {
    content: "";
    position: absolute;
    left: -0.625rem;
    bottom: 50%;
    width: 2.25rem;
    height: 2.25rem;

    background-size: cover;
    background-repeat: no-repeat;

    transform: scale(0);
    transition: transform 0.3s ease, left 0.3s ease;
}

.banho-e-tosa>.link::before {
    background-image: url("../assets/icones/banho-e-tosa.png");
}

.hospedagem>.link::before {
    background-image: url("../assets/icones/hospedagem.png");
}

.veterinario>.link::before {
    background-image: url("../assets/icones/veterinario.png");
}

.adestramento>.link::before {
    background-image: url("../assets/icones/adestramento.png");
}

.petsitter>.link::before {
    background-image: url("../assets/icones/petsitter.png");
    background-size: contain;
}

.servicos-lista>li>.link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
    padding-left: var(--padding-3xl)
}

.link:hover::before {
    transform: scale(1) translateY(50%);
    left: 1rem;
}